<section class="section">
<div class="container">
  <form  (ngSubmit)="processForm()">
    <div class="field">
      <input type="text" name="name"  class='input'id="" placeholder="Votre nom" [(ngModel)]="name">
    </div>
    <div class="field">
      <input type="text" name="email"  class="input" id="" placeholder="Votre email" [(ngModel)]="email">
    </div>
    <div class="field">
      <textarea type="text" name="message" class="input" id="" placeholder="Votre message" [(ngModel)]="message"></textarea>
    </div>
    <button type="submit" class="button is-danger is-large" >Envoyer</button>
  </form>
</div>
</section>
